html {
    font-family: "Cabin", sans-serif; 
}

body {
    background-size: cover;
}

button {
    color: white;
    font-family: "Cabin", sans-serif; 
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, .6);
    border-radius: .5em;
    /* margin-left: 3em;
    margin-right: 3em; */
}

#restart-div {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 2em;
}

#textbox-style {
    display: flex;
    justify-content: space-around;
}

#textbox-div {
    width: 80%;
    position: absolute;
    font-size: 1.75em;
    font-size: 1.5vw;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 1em;
    top: 70%;
    height: 20vh;
}

#textbox-div > p {
    margin: 1%;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sprite-div {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#sprite-div > img {
    max-height: 40vw;
}

#choices {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content :center;
    /* margin-left: auto;
    margin-right: auto; */

    /* font-size: 2em; */
    /* text-align: center; */
    top: 45vh;
    /* left: 50%; */
}

#choices > button {
    margin-left: 1em;
    margin-right: 1em;
}